<footer class="footer">
  {% for item in site.data.settings.social %}
    <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
  {% endfor %}
  <div class="footer-description">
    <a href="{{ site.github.url }}/"> {{ site.title }}</a>
    |
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
      <i class="fa-brands fa-creative-commons"></i>
      <i class="fa-brands fa-creative-commons-by"></i>
      <i class="fa-brands fa-creative-commons-nc"></i>
      <i class="fa-brands fa-creative-commons-sa"></i>
    </a>
  </div>
</footer>

<script>
  $(function() {
    return $("h1, h2, h3, h4, h5, h6").each(function(i, el) {
      var $el, icon, id;
      $el = $(el);
      id = $el.attr('id');
      icon = '<i class="fa fa-link fa-sm"></i>';
      if (id) {
        return $el.prepend($("<a />").addClass("header-link").attr("href", "#" + id).html(icon));
      }
    });
  });
</script>
