<div class="tag-posts">
  {% if site.data.settings.tags != nil %}
    {% for tag in site.data.settings.tags %}
      {% if include.series == nil %}

      <br>
      <h5 id="{{ tag.tag }}">{{ tag.name }}</h5>
      <table>
        <thead>
          <tr>
            <th style="width: 30%">Article</th>
            <th>Description</th>
          </tr>
        </thead>

        <tbody>
          {% for post in site.posts %}
          <tr>
            {% if post.tags contains tag.tag %}
              {% if include.series == nil or tag.series %}
                <td>
                  <a href="{{ post.url }}">{{ post.title }}</a>
                </td>
                <td>
                  {% if post.description %}
                  {{ post.description }}
                  {% endif %}
                </td>
              {% endif %}
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% else %}

        {% if tag.series %}
          <div id="{{ tag.tag }}"><font color="white">{{ tag.name }}</font></div>
          {% for post in site.posts %}
            {% if post.categories contains page.category %}
              {% if post.tags contains tag.tag %}
                {% include featured-post.html %}
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endif %}

      {% endif %}
    {% endfor %}
  {% endif %}
</div>