@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000000;
    /* Dark mode background */
    --text-color: #999;
    /* Dark mode text */
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }

  .markdown-body {
    background-color: #333;
    color: #eee;
  }

  pre {
    background-color: #444;
    color: #eee;
  }

  table,
  th,
  td {
    border: 1px solid #aaa;
  }

  a,
  a:hover {
    filter: brightness(0.9);
  }

  img,
  video,
  .featured-post {
    filter: brightness(0.8);
    /* Adjust brightness as needed (0-1) */
  }

  .tags a,
  .tags .tag {
    color: #999;
    border: 1px solid #555;
  }

  .toggle-button {
    color: #999;
    background-color: #111;
  }
}

@media (prefers-color-scheme: dark) {

  /* Dark mode for header and footer */
  .footer {
    background-color: var(--background-color);
    /* Use dark mode background color */
    color: var(--text-color);
    /* Use dark mode text color */
  }

  .footer-description,
  .footer a {
    color: var(--text-color);
    /* Use dark mode text color for elements within header and footer */
  }
}

@media (prefers-color-scheme: dark) {

  /* Apply dark mode styles for the header here */
  .dropdown-content,
  .dropbtn,
  .site-header {
    background-color: var(--background-color);
    /* Use dark mode background color from root */
    color: var(--text-color);
    /* Use dark mode text color from root */
  }

  .dropdown:hover .dropbtn,
  .dropdown-content a:hover {
    background-color: #111;
  }

  .dropdown-content a,
  .site-title a,
  .menu-link,
  .dropbtn {
    color: #aaa;
    /* Use dark mode text color for elements within header */
  }
}


@media (prefers-color-scheme: dark) {
  .post-navigation .holder {
    color: var(--background-color);
  }

  .post-navigation,
  .post-navigation a,
  .post-navigation .prev {
    color: var(--text-color);
  }
}


@media (prefers-color-scheme: dark) {
  .pagination-button {
    color: #888;
    border: 1px solid #999;
  }

  .pagination-active {
    color: #ddd;
  }

  .pagination-active:hover {
    background-color: #999;
    color: #eee;
  }
}

@media (prefers-color-scheme: dark) {
  .toc-container hr {
    color: #fff;
  }
}