.footer {
  background: white;
  color: $brand-color;
  text-align: center;
  min-height: 56px;
  line-height: 45px;
  width: $container-width;
}
.footer a {
  color: $brand-color;
  padding: 0px 10px 0px;
  text-decoration: none;
}
@media (max-width: $container-width) {
  .footer {
    background: white;
    color: $brand-color;
    text-align: center;
    min-height: 56px;
    line-height: 45px;
    width: 95vw;
  }
}
.footer-description {
  display: block;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-size:0.8rem;
}

@media (prefers-color-scheme: dark) {
  /* Dark mode for header and footer */
  .footer {
    background-color: var(--background-color); /* Use dark mode background color */
    color: var(--text-color); /* Use dark mode text color */
  }

  .footer-description,
  .footer a {
    color: var(--text-color); /* Use dark mode text color for elements within header and footer */
  }
}