---
layout: default
---

<div class="post-content">

  <h1>
    {{ page.title }}
  </h1>

  {% if site.hide_post_date != true %}
    {% include post-date.html %}
  {% endif %}

  <div class="tags-container">
    <div class="tags">
      {% for tag in page.tags %}
        <a class="tag" href="/tags#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
      {% endfor %}
    </div>
    <button id="toggleFontButton" class="toggle-button"></button>
  </div>

  <article id="article">
    {% if page.description %}
      <blockquote>{{ page.description }}</blockquote>
    {% endif %}

    {% if page.toc == true %}
    <div class="toc-container">
      <center>Table of Content</center>
      <hr>
      {% include toc.html html=content %}
    </div>
    {% else %}
      {% if page.image %}
        <div class="featured-image">
          <img src="{{ site.github.url }}/assets/img/{{ page.image }}">
        </div>
      {% endif %}
    {% endif %}

    {{ content }}
  </article>

  {% include post-navigation.html %}

  {% if site.hide_post_share != true %}
    {% include post-share.html %}
  {% endif %}
  {% if site.hide_related_posts != true %}
    {% include related-posts.html %}
  {% endif %}
  {% if site.data.settings.disqus.comments %}
    {% include disqus.html %}
  {% endif %}
</div>


<script>
  var fontToggle = document.getElementById("toggleFontButton");
  var article = document.getElementById("article");
  var serif = !(window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches);

  article.style.fontFamily = serif ? "'Noto Serif', 'Noto Serif SC'" : "'Noto Sans', 'Noto Sans SC'";
  fontToggle.textContent = serif ? "Serif" : "Sans";

  fontToggle.addEventListener("click", function () {
    serif = !serif;
    article.style.fontFamily = serif ? "'Noto Serif', 'Noto Serif SC'" : "'Noto Sans', 'Noto Sans SC'";
    fontToggle.textContent = serif ? "Serif" : "Sans";
  });
</script>